In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
## read Dataset
df=pd.read_csv("Company_Data.csv")

In [3]:
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [4]:
# check null values
df.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Sales,400.0,7.496325,2.824115,0.0,5.39,7.49,9.32,16.27
CompPrice,400.0,124.975000,15.334512,77.0,115.00,125.00,135.00,175.00
Income,400.0,68.657500,27.986037,21.0,42.75,69.00,91.00,120.00
Advertising,400.0,6.635000,6.650364,0.0,0.00,5.00,12.00,29.00
Population,400.0,264.840000,147.376436,10.0,139.00,272.00,398.50,509.00
Price,400.0,115.795000,23.676664,24.0,100.00,117.00,131.00,191.00
Age,400.0,53.322500,16.200297,25.0,39.75,54.50,66.00,80.00
Education,400.0,13.900000,2.620528,10.0,12.00,14.00,16.00,18.00

In [6]:
# using a LabelEncoder convert cotagerical variable to integer
l=["ShelveLoc","Urban","US"]
for i in l:
    from sklearn.preprocessing import LabelEncoder
    le=LabelEncoder()
    df[i]=le.fit_transform(df[i])

In [7]:
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1
396,6.14,139,23,3,37,120,2,55,11,0,1
397,7.41,162,26,12,368,159,2,40,18,1,1
398,5.94,100,79,7,284,95,0,50,12,1,1
399,9.71,134,37,0,27,120,1,49,16,1,1

In [8]:
# separate x and y variable
x=df.drop("Sales",axis=1)

In [9]:
y=df["Sales"]

In [10]:
# split the data in train and test side
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=4)

In [11]:
# fitting the RandomForestRegressor model
from sklearn.ensemble import RandomForestRegressor
Rf=RandomForestRegressor(n_estimators=400)

In [12]:
# fitting the model on training data 
Rf.fit(x_train,y_train)

RandomForestRegressor(n_estimators=400)

In [13]:
#predict the output
y_pred=Rf.predict(x_test)

In [14]:
y_pred

array([ 8.508   ,  6.11935 ,  6.586   ,  4.4074  ,  7.10855 ,  7.849975,
       10.3501  ,  6.5828  ,  8.931   ,  5.5061  ,  9.126025,  5.582775,
       10.017725,  9.3107  ,  9.046   ,  6.012875, 10.43825 ,  7.2755  ,
        5.726775,  8.6513  ,  7.569425,  8.892925,  9.38375 ,  8.633025,
        6.78655 ,  3.2394  ,  5.0841  ,  3.3999  ,  6.9603  ,  7.8639  ,
        4.6857  ,  7.302125,  6.489525,  9.55515 ,  6.00825 ,  7.10395 ,
        7.55105 ,  3.5349  ,  5.9505  , 10.72785 ,  7.843625,  3.78665 ,
        9.8416  ,  5.3233  , 11.168725,  7.3763  ,  7.503825,  5.72055 ,
        6.3827  ,  9.300725,  7.5144  , 10.283475,  8.405875,  7.947325,
       12.023575,  9.0171  ,  9.041775,  5.441775,  8.804525, 10.380825,
        9.729525,  7.193725, 10.907825,  8.010225,  5.939325, 10.795525,
       10.81385 ,  9.91945 , 11.6169  ,  7.41005 ,  6.711975,  9.078975,
        9.7707  ,  4.086325,  8.524825,  7.85725 ,  8.375925, 11.86815 ,
        9.539825,  8.781825,  7.56725 ,  9.329875,  9.411025,  4.95045 ,
        6.74295 ,  7.05805 ,  7.40225 , 10.838775, 10.59685 ,  6.0468  ,
        6.426525,  6.252075, 10.9473  ,  6.1227  ,  4.068525,  5.717075,
        8.612525,  7.820225,  9.639575,  8.56405 ,  6.634225,  9.10135 ,
        4.551   ,  9.468   ,  7.75485 ,  7.826025,  6.6028  ,  8.412925,
        9.386425, 10.544075,  9.04535 ,  6.73625 ,  7.335675,  4.484475,
        6.2218  ,  9.172   ,  8.05535 , 10.86715 ,  9.451875,  7.9897  ,
        8.813075,  3.773225,  6.9293  ,  6.5737  ,  5.0904  ,  6.5818  ,
        8.18635 ,  8.942225, 10.90745 ,  9.874275,  7.067175, 11.069325])

In [15]:
y_test

184     9.95
6       6.63
61      7.32
312     6.80
100     4.11
       ...
112     6.67
352    13.44
388     8.14
248     5.36
46     12.44
Name: Sales, Length: 132, dtype: float64

In [16]:
from sklearn.metrics import mean_absolute_error
mse=mean_absolute_error(y_test,y_pred)
mse

1.3248571969696958

In [17]:
np.sqrt(mse)

1.1510244119781716

In [18]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.6654860455158123